<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Raleway', sans-serif;">
    <div class="d-flex p-2" style="height: 300px;	background-color: #FEA5A5; margin: 0px; align-items: middle;">
        <div class="container" style="height: 300px; width: 400px;">
            <h1 class="Judul" style="font-size: 30px; font-weight: bolder; margin: 150px 60px 100px 90px;">
                About
            </h1>
        </div>
    </div>
    <br>
    <div class="d-flex p-2" style="background-color: #EEEEEE; align-items: center; height: auto; margin-bottom: 5%;">
        <div class="container" style="width: 630px; height: auto; margin-top: 2%; margin-bottom: 2%;">
            <h6 style="font-weight: bold;">
                Apa itu E-Section
            </h6>
            <p2">
                E-Section merupakan web yang bertujuan membantu mengedukasi
                masyarakat umum mengenai segala materi yang berhubungan
                dengan pendidikan seksual. E-Section memanfaatkan media digital untuk memberikan edukasi kepada masyarakat mengenai 
                pendidikan seks dengan mudah, di mana pun dan kapan pun mereka berada. Hal ini dapat 
                dilakukan dengan mengakses web ini secara online dan membuat akun untuk mendapatkan konten sesuai umur mereka.
                Strategi
            </p2>
            <h6 style="font-weight: bold;">
                Bagaimana E-Section Bekerja?
            </h6>
            <p2">
                E-Section menggunakan media digital untuk memberikan edukasi kepada masyarakat mengenai 
                pendidikan seks dengan mudah, di mana pun dan kapan pun mereka berada. Hal ini dapat 
                dilakukan dengan mengakses web ini secara online dan membuat akun untuk mendapatkan konten sesuai umur mereka.
                E-Section memanfaatkan dan menggunakan Sistem Hosting konten dari berbagai macam sumber dimulai dari penyedia 
                pendidikan seksual lainnya hingga jurnal-jurnal yang berhubungan dengan pendidikan seksual. 
                E-Section menggunakan format video dan artikel untuk mengedukasi pendidikan seks yang menarik, 
                mendidik, dan sesuai usia. Tidak hanya itu E-Section memisahkan konten-konten berdasarkan kategori umur, 
                yakni konten anak-anak, konten remaja, dan konten dewasa. Hal ini bertujuan agar edukasi yang 
                disampaikan lebih relevan dengan permasalaham umum yang dihadapi dalam kehidupan sehari-hari. 
                Selain konten berupa video dan artikel, pada kategori umur remaja dan dewasa, 
                E-Section juga menyediakan serangkaian tes yang dapat diambil. Tes-tes ini 
                merupakan bagian dari pendidikan seks yang bertujuan untuk memahami diri sendiri dan kesehatan mental dari pengguna.
            </p2>
        </div>
    </div>
</body>
</html>