<!DOCTYPE html>
<html lang="en">
<head>
    <title>Policy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Raleway', sans-serif;">
    <div class="d-flex p-2" style="height: 300px;	background-color: #FEA5A5; margin: 0px; align-items: middle;">
        <div class="container" style="height: 300px; width: 400px;">
            <h1 class="Judul" style="font-size: 30px; font-weight: bolder; margin: 150px 60px 100px 90px;">
                Policy
            </h1>
        </div>
    </div>
    <br>
    <div class="d-flex p-2" style="background-color: #EEEEEE; align-items: center; height: auto; margin-bottom: 5%;">
        <div class="container" style="width: 630px; height: auto; margin-top: 2%; margin-bottom: 2%;">
            <p2">
                Ini adalah tujuan kami untuk menghormati privasi online Anda. 
                Kunjungan Anda ke situs web E-Section.com tetap bersifat pribadi dan rahasia.
            </p2>
            <h6 style="font-weight: bold;">
                HARAP DICATAT
            </h6>
            <p2">
                Situs ini dan informasi yang Anda kirimkan kepada kami sepenuhnya rahasia. 
                Kami hanya akan mengungkapkan informasi tentang Anda jika kami diwajibkan oleh hukum untuk melakukannya.
            </p2>
            <h6 style="font-weight: bold;">
                Apakah informasi itu?
            </h6>
            <p2>
                Referensi ke "informasi" dalam Kebijakan Privasi ini akan merujuk pada data apa pun yang Anda gunakan 
                untuk dikumpulkan oleh layanan kami, apakah itu hasil tes, data yang dikumpulkan dalam formulir, 
                atau data yang disisipkan di situs yang dihosting oleh kami - itu semua adalah data Anda.
                Kapan kami mengumpulkan informasi?
                Kami mengumpulkan informasi dari Anda saat Anda mendaftar di situs kami dan menyelesaikan salah satu tes online kami 
            </p2>
            <h6 style="font-weight: bold;">
                Kapan kami mengumpulkan informasi?
            </h6>
            <p2>              
                Kami mengumpulkan informasi dari Anda saat Anda mendaftar di situs kami dan menyelesaikan salah satu tes online kami 
            </p2>
            <h6 style="font-weight: bold;">
                Bagaimana kami menggunakan informasi Anda?
            </h6>
            <p2>
                Kami dapat menggunakan informasi yang kami kumpulkan dari Anda saat Anda mendaftar, 
                mendaftar dan mengisi tes. Informasi ini akan digunakan untuk meningkatkan performa 
                situs web kami agar dapat melayani Anda dengan lebih baik dan memberi Anda rekomendasi 
                konten yang sesuai dengan hasil tes yang anda lakukan. 
            </p2>
        </div>
    </div>
</body>
</html>